
<div class="buscador">

  <form class="d-flex" role="search">
    <select class="form-select form-select-sm" aria-label="Small select example" name="" id="">
      <option selected>Generos</option>
      <option value="romance">romance</option>
      <option value="comedia">Comedia</option>
      <option value="3">Three</option>

    </select>
    <input class="form-control me-9" type="search" placeholder="Buscar..." aria-label="Search">
    <button type="button" class="btn btn-dark">Buscar</button>
  </form>

</div>
